/*****************************TAG STYLES**********************************/
body{
    margin:0;
    text-align: center;
    font-family: 'Zilla Slab', serif;
}

h1 {
    color: white;
    margin: 10px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    line-height: 1.2;
}

h2 {
    color: #3C8DAD;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.0rem;
    font-weight: bold;
}

h3 {
    color: #3C8DAD;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

p {
    margin: 0 auto 0 auto;
    line-height: 1.5;  
    text-align: left; 
}


hr {
    border-style: dotted none none;
    width: 5%;
    border-width: 7px;
    border-color: #3C8DAD;
    margin:100px auto;
}

a {
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
    color: white;
}

form {
    max-width:600px;
    min-width:250px;
    padding-bottom:10px;
    border: 0px;
    font-family:'Montserrat', sans-serif;
    font-weight: bold;
    background-color:white
    }

    input[type=text] {
    width:90%;
    padding:10px;
    margin-top:30px;
    border:1px solid #3C8DAD;
    padding-left:40px;
    font-size:16px;
    font-family:'Montserrat', sans-serif;
    font-weight: bolder;
    }
    
    textarea {
    background-position:5px 7px;
    width:90%;
    height:95px;
    padding:10px;
    resize:none;
    margin-top:30px;
    border:1px solid #3C8DAD;
    padding-left:40px;
    font-size:16px;
    font-family:'Montserrat', sans-serif;
    font-weight: bolder;
    margin-bottom:30px
    }
    

/*****************************CLASS**********************************/
.align_left {
    text-align: left; 
    width: 50% 
}

.align_right {
    text-align: right;
    width: 50% 
}


.arcgis {
    width: 6%;
    margin-left: 10px;
}


.bottom-container{
    background-color: #3C8DAD;
    padding: 50px 0px 20px;
}

.contact-me {
    width:40%;
    margin:40px auto 60px;
}

.copyright {
    color: white;
    font-size: 0.75rem;
    text-align: center;
}

.data_analysis_bottom {
    position: absolute;
    left:200px;
    bottom: 80px;
    height: 20%;
    background-color: white;
}
.data_analysis_top {
    position:absolute;
    right:200px;
    top: 80px;
    height: 20%;
    background-color: white;
}

.dropdown-menu {
    margin-right: 0;
}


.middle-container{
    padding-top: 80px;
}


.MSSQL {
    width: 7%;
    margin-left: 10px;
}
.myForm {
    float:center; 
    clear:both; 
    padding-bottom: 10px;
    display: inline-block;
}

.my-portfolio{
    padding-top: 80px;
}

.navbar-color {
    background-color: #3C8DAD;
    font-weight: bolder;
    margin-bottom: 0;
    padding-bottom: 0;
} 
 
.nav-item.dropdown.show {
    background-color: white;
}


.office {
    width: 5%;
    margin-left: 10px;
}

.ow {
    width: 4%;
    margin-left: 10px;
}


#second-col {
    background-color: red
 }


.postgresql {
    width: 5%;
    margin-left: 10px;
}

.powerbi{
    width: 7%;
    margin-left: 10px;
}

.python {
    width: 5%;
    margin-left: 10px;
}

.qgis {
    width: 6%;
    margin-left: 10px;
}

.skill-row{
    
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.style_left {
    text-align: left;
}

.style_right {
    text-align: right;
}

.talk {
    text-align: center
}
.top-container {
    background-color: #3C8DAD;
    position: relative;
    padding-top: 80px;
    padding-bottom: 230px;
}

.wasp {
    width: 4%;
    margin-left: 10px;
}

.web {
    width: 7%;
    margin-left: 10px;

}

.windog {
    width: 6%;
    margin-left: 10px;
}

.wind_farmer {
    width: 5%;
    margin-left: 10px;
}

.wind_pro {
    width: 6%;
    margin-left: 10px;
}

.windsim {
    width: 6%;
    margin-left: 10px;
 }

.ufpe{
    margin:0;
    text-align: center;
    font-family: 'Zilla Slab', serif;
    color: #3C8DAD;
}

.ufpe:hover {
    font-weight: bold;
    color: #3C8DAD;
}

/*****************************ID**********************************/

#head_font {
color: #3C8DAD;
font-weight: bolder;
}

#send {
    background: #6792a1;
    background-image: -webkit-linear-gradient(top, #6792a1, #388cab);
    background-image: -moz-linear-gradient(top, #6792a1, #388cab);
    background-image: -ms-linear-gradient(top, #6792a1, #388cab);
    background-image: -o-linear-gradient(top, #6792a1, #388cab);
    background-image: linear-gradient(to bottom, #6792a1, #388cab);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
  #send:hover {
    background: #82b3c2;
    background-image: -webkit-linear-gradient(top, #82b3c2, #5195ad);
    background-image: -moz-linear-gradient(top, #82b3c2, #5195ad);
    background-image: -ms-linear-gradient(top, #82b3c2, #5195ad);
    background-image: -o-linear-gradient(top, #82b3c2, #5195ad);
    background-image: linear-gradient(to bottom, #82b3c2, #5195ad);
    text-decoration: none;
  }


/**************************small screen adjustments***************/

    @media(max-width:1113px){
        .data_analysis_bottom {
            position: absolute;
            width: 15%;
            left:10px;
            bottom: 80px;
        }
        .data_analysis_top {
            position:absolute;
            right:10px;
            top: 80px;
            width: 15%;
        }
        .top-container {
            background-color: #3C8DAD;
            position: relative;
            padding-top: 80px;
            padding-bottom: 150px;
        }
    }
        

        @media(max-width:400px){

            .a-bold{
                font-weight: bolder;
            }

            .arcgis {
                width: 16%;
                margin-left: 10px;
            }

            .copyright {
                color: white;
                font-size: 1rem;
            }

            .data_analysis_bottom {
                position: absolute;
                width: 15%;
                left:10px;
                bottom: 80px;
            }

            .data_analysis_top {
                position:absolute;
                right:10px;
                top: 20px;
                width: 15%;
            }

            h1 {
                color: white;
                margin: 10px auto 0 auto;
                font-family: 'Sacramento', cursive;
                font-size: 4rem;
                line-height: 1;
            }

            h2 {
                color: #3C8DAD;
                font-family: 'Montserrat', sans-serif;
                font-size: 1.2rem;
                font-weight: bold;
            }
    
            .office {
                width: 15%;
                margin-left: 10px;
            }
            
            .ow {
                width: 14%;
                margin-left: 10px;
            }

            .p {
                margin: 0 auto 0 auto;
                line-height: 1.5;
                font-size:xx-large;  
            }

            #p-rules {
                font-size:100px;
            }

            .profile {
                width: 40%;
            }

            .profile-bia {
                width: 40%;
            }

            .profile-chloe {
                width: 40%;
            }

            .postgresql {
                width: 15%;
                margin-left: 10px;
            }
            
            .powerbi{
                width: 17%;
                margin-left: 10px;
            }
            
            .python {
                width: 15%;
                margin-left: 10px;
            }
            
            .qgis {
                width: 16%;
                margin-left: 10px;
            }

            .size-h3 {
                font-size: 1.2rem;
                font-weight: bolder;
            }

            .table-font {
                font-size: 10rem;
            }

            .top-container {
                background-color: #3C8DAD;
                position: relative;
                padding-top: 80px;
                padding-bottom: 150px;
            }
 
            .wasp {
                width: 14%;
                margin-left: 10px;
            }
            
            .web {
                width: 14%;
                margin-left: 10px;
            }
            
            .windog {
                width: 16%;
                margin-left: 10px;
            }
            
            .wind_farmer {
                width: 15%;
                margin-left: 10px;
            }
            
            .wind_pro {
                width: 16%;
                margin-left: 10px;
            }
            
            .windsim {
                width: 16%;
                margin-left: 10px;
             }
        }
